body {
    display: flex;
    flex-direction: column;
}

p, li { line-height: 1.6; font-size: 16px; }

header {
    padding: 30px;
    background-color: #eee;
    margin-bottom: 30px;
}

main {
    padding: 0 30px;

}

form {
    margin: 30px 0;
}

input {
    margin-right: 15px;
}

#list {
    background: #eee;
    padding: 20px;
}

li + li {
    margin-top: 10px;
}
