@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Heavy'), local('Avenir-Next-Heavy'),
        url('../fonts/AvenirNextCyr-Heavy.woff2') format('woff2'),
        url('../fonts/AvenirNextCyr-Heavy.woff') format('woff'),
        url('../fonts/AvenirNextCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Koulen', cursive;
    font-weight: 400;
    color: #fff;

}
a {
    color: #00426b;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;

}
.view-cities-categories .view-content .item-list >ul >li {
    display: inline-block;
    float: left;
    padding: 10px;
    font-size: 13px;
    line-height: normal;
}
#block-views-cities-categories-block-1 h2.block-title {
    text-align: center;
    clear: both;
}

#block-views-statlist-block-1 h2.block-title {
    text-align: center;
    clear: both;
}


.view-statlist .view-content .item-list >ul >li {
    display: inline-block;
    float: left;
    padding: 10px;
    font-size: 13px;
    line-height: normal;
}

.region-homw-how-it-works{
    padding: 5% 10%; 
   
}
.region-homw-how-it-works h2{
    text-align: center;
    clear: both;
}
#block-block-31 h2 {
    float: left;
    border-bottom: 1px solid;
    padding: 5px;
    margin: 7px;
    font-size: 18px;

}

#block-block-31 .block-title{
    text-align: center;
    clear: both;
    display: block;
    float: none;
    border-bottom: none;
    padding: 15px;
    font-size: 25px;

}

.block-title{
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;

}

#block-block-31{
    margin: 15px;
}
.footer_boxs{
    /* padding: 5% 10%;
    margin-top: 20px; */
    /* background-color: #e1e1e1;
    background-image: -webkit-gradient(linear, left top, right top, from(#e1e1e1), to(#fff));
    background-image: linear-gradient(to right, #e1e1e1, #fff); */

    padding: 5% 10%;
    margin-top: 20px;
    background-color: #00426b;
    background-image: -webkit-gradient(linear, left top, right top, from(#e1e1e1), to(#00426b));
    /* background-image: linear-gradient(to right, #e1e1e1, #00426b); */
    background-image: linear-gradient(to right, #18252D, #2B7A77);
    color: #fff;


}
.footer_boxs h2{
    color: #fff;

}
.footer_boxs a{
    color: #fff;

}
.footer_cities{
    padding: 3% 3%;

}
.region-home-tags-content{
    padding: 3% 3%;

}
#block-views-blog-categories-block-1 .tags ul li a {
    background-color: #7FA3CC;
    border: 1px solid #7FA3CC;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.03);
    color: #fff;
    display: block;
    font-size: 12px;
    height: 26px;
    line-height: 23px;
    padding: 0 9px;
    position: relative;
}
#block-views-blog-categories-block-1 .tags ul li {
    float: left;
    margin-bottom: 6px;
    margin-left: 6px;
    list-style: none;
}

.region-home-faqs {
    padding: 5% 10%;
    padding-bottom: 100px;
}
.region-home-faqs h3{
    font-size: 25px;
}
.header-top-banner{
    height: 93vh;
    padding: 10%;
    

    background-color: #3AAFA9;
    background-image: -webkit-gradient(linear, left top, right top, from(#3AAFA9), to(#fff));
    background-image: linear-gradient(to right, #3AAFA9, #fff);
}
.header-top-banner h1{
    font-family: 'Koulen', cursive;
        font-size: 50px;
    padding-top: 10%;
    
}
.header-top-banner img{
    width: 100%;
}

.header-top-banner #block-views-exp-home-search-page #edit-title-wrapper{
    width: 75%;
}
.header-top-banner #block-views-exp-home-search-page #edit-title-wrapper #edit-title{
    height: 55px;
    border: 0px;
}
.header-top-banner #block-views-exp-home-search-page .views-exposed-form .views-exposed-widget .btn {
    margin-top: 0;
    width: 125px;
    height: 52px;
    border-radius: inherit;
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px #000;
    background-color: #17242A;
}
body.navbar-is-fixed-top {
    padding-top: 50px;
}
.bg-gray{
    background-color: #27363B;
    color: #fff;
    /* background-image: -webkit-gradient(linear, left top, right top, from(#e1e1e1), to(#fff));
    background-image: linear-gradient(to right, #e1e1e1, #fff); */
} 
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #00426b;
}
.home-focusgroup-list .node-readmore a{
    color: #fff;
    background-color: #00426b;
    padding: 5px;

}

.home-focusgroup-list .field-name-body{
    /* padding: 5px;
    margin: 5px; */

}
.home-focusgroup-list article{
    border-bottom: 1px solid;

}
.home-content{
    padding: 10px 5px;
}
.study-teaser ul li{
    list-style: none;
    float: left;
    padding: 5px;
}
.study-teaser h2{
    font-size: 23px;
    clear: both;
    margin-top: 2px;
}
.mediaholder img{
    object-fit: contain;
}
.highlighted h1{
    font-size: 28px;
    margin: 5px 5px;
    color: #33AEA9;
}
.highlighted {
    padding: 2% 10%;
}
.body-study{
    margin: 15px 0px;
    border-top: 1px solid;
    padding-top: 10px;
}
.view-related-focus-groups ul li{
    list-style: none;
}
.study-teaser-ul ul{
    padding-left: 0px !important;
}
.study-teaser-button{
    color: #fff;
    background-color: #00426b;
    padding: 7px;
}
.teaser-button-div
{    margin: 10px 0px;
}
.share-buttons{
    margin: 10px 0px;  
}
.view-related-focus-groups ul{
    padding: 5px;
}
.view-related-focus-groups ul li a{
    padding: 5px;
    float: left;
}
#block-views-related-focus-groups-block-1 h2{
    font-size: 22px;

} 

.node-teaser{
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    /* background-color: #f6f6f7; */
    background-color: #DEF2F1;

    padding: 20px;
}
.teaser-heading h2{
    padding: 0px;
    float: left;
}
.teaser-heading a{
    padding: 0px !important;
    float: left !important;
}
.teaser-body{
    clear: both;  
}

@media only screen and (max-width: 700px) {
    .header-top-banner
 {
    height: 215vh;
    }
  }
@media only screen and (max-width: 600px) {
    .header-top-banner
 {
    height: 115vh;
    }
  }

  .jumbotron{
    color: #fff;
    background-color: #27363B;
  }

  .navbar {
    min-height: 65px;
}
.navbar-default {
    background-color: #DFF1F3;
    border-color: #DFF1F3;
}
.navbar-brand {
    font-family: 'Koulen', cursive;
}
.btn-apply-blue{
    color: #33AEA9;
    background-color: #27363B;
    border-color: #27363B;
    font-family: 'Koulen', cursive;
    font-size: 20px;
}
.btn-apply-blue:hover{
    color: #27363B;
    background-color: #33AEA9;
    border-color: #33AEA9;
    font-family: 'Koulen', cursive;
    font-size: 20px;
    text-decoration: none;
}
.navbar-nav > li > a {
    font-family: 'Koulen', cursive;
}
.region-sidebar-second{

    background-color: #DEF2F1;
    margin: 10px 0px;
    padding: 20px 5px;
}
.study-top-box{
    background-color: #DEF2F1;
    margin: 10px 0px;
    padding: 20px 5px;
}
@media (min-width: 768px){
.navbar-nav > li > a {
    padding-top: 21px;
    padding-bottom: 21px;
    font-family: 'Koulen', cursive;
    font-size: 18px;
}
.navbar-header {
    margin-top: 10px;
}
}