body { color:#161616; }

a:link, a:visited,
#navigation ul li a, #navigation ul.sf-menu li a { color:#96adbe; }

a:hover, a:active, a:focus { color:#b52c38; }

h1, h2, h3, h4, h5, h6 { color:#536682; }

#header #site-name a { color:#96aebe; }

#header #site-name a:hover { color: #536682; }

#header #site-slogan { color: #f8c300; }

body { border-color:#de6846; }

#wrap { border-color:#d9964b; }

